
/* Site Colors */
/* darkmode pastel */
:root {
  --color-primary: #e7b3c8;
  --color-accent: #EDBBB4;

  --color-bg-main: #232126; 
  --color-bg-surface: #3f3237; 

  --color-text-main: #edd5ed; 
  --color-text-code: #e8b0dd; 
  --color-text-muted: #9c919c;
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--color-bg-main);
}

main {
  max-width: 750px;  
  margin: 0 auto; 
}



/* Header sizes */
h1 {
  color: var(--color-primary);
  font-size: 50px;
}
h2 {
  color: var(--color-primary);
  font-size: 30px;


  /* Make h2s a center box */
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: var(--color-bg-surface);
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 10px 28px 78px -36px rgba(0,0,0,0.9);
}
h3 {
  color: var(--color-accent);
  font-size: 25px;

  margin-top: 40px;
  margin-bottom: 15px;
}

h4 {
  color: oklch(from var(--color-accent) calc(l - 0.05) c h);
  font-size: 20px;

  margin-top: 30px;
  margin-bottom: 15px;

  font-weight: bold;
}

h5 {
  color: oklch(from var(--color-accent) calc(l - 0.09) c h);
  font-size: 18px;

  margin-top: 30px;
  margin-bottom: 15px;

  font-weight: bold;
}
h6 {
  color: oklch(from var(--color-accent) calc(l - 0.13) c h);
  font-size: 15px;

  margin-top: 30px;
  margin-bottom: 15px;
  
  font-weight: bold;
}


a, a:link, a:active {
  color: var(--color-accent);
}

/* Visited link */
/* a:visited {
  color:  oklch(from var(--color-accent) calc(l - 0.1) c h);
} */

/* Hovered link */
a:hover {
  color: oklch(from var(--color-accent) calc(l + 0.08) c h);
}


/* regular text */
p,li,figcaption,td,.katex-display {
  font-size: 18px;
  color: var(--color-text-main);
}
table td {
  /* the bs css for tables is ironclad for some reason? */
  color: var(--color-text-main) !important;
}
table th {
  color: var(--color-accent) !important;
}

/* exclude div.codeblock */
code:not(div.codeblock *) {
  color: var(--color-text-code);
  background-color: #161719;
  padding: 3px 5px 3px 5px;
  border: 1px solid var(--color-bg-surface);

  border-radius: 5px;
}


p {
  margin-top: 15px;
  /* margin-bottom: 15px; */
}

/* Add left line of header */
/* h3, h4 {
  border-left: 5px solid var(--color-bg-surface);
  padding-left: 20px;
  border-radius: 3px;
} */


hr {
  height: 5px;
  background-color: var(--color-bg-surface);
  border-radius: 3px;

  /* hide weird defaults */
  color: transparent;
  opacity: 1;
}



figure {
  /* This fixes figure captions  */
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  overflow: auto;

  > * {
    max-width: 100%;
  }
}



header {
  background-color: var(--color-bg-surface);
}




