header {
  /* padding: 10px; */
  background-color: #403844;
}

/* don't left sides of bar hit screen edge */
.navbar {
  padding-left: 10px;
  padding-right: 10px;
}


.image-title-bg {
  border-radius: 8px;
  background-image: url('./cover.jpg');
  /* background-position: 0px -50px; */
  /* background-size: cover; */

  box-shadow: 10px 28px 78px -36px rgba(0,0,0,0.4);

  width: 100%;
  height: 300px;
}

/* this blurs the image and centers children */
.image-title-center {
  border-radius: 8px;
  backdrop-filter: blur(3px);
  background-color: rgba(87, 65, 91, 0.244);
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* padding: 20px;
  border-radius: 6px; */

  padding: 15px;

  /* center children */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.blur-unblur-anim {
  animation: blur-unblur 1.3s ease-in-out forwards;
}

@keyframes blur-unblur {
  0% {
    backdrop-filter: blur(13px);
  }

  50% {
    backdrop-filter: blur(6px);
  }

  70% {
    backdrop-filter: blur(9px);
  }

  100% {
    backdrop-filter: blur(3px);

  }
}

.image-title * {

  margin: 0px;
  margin-bottom: 5px;


  color: rgb(255, 243, 254);

}


.card {
  /* outline: 2px solid #EDBBB4; */
  box-shadow: 20px 20px 50px -40px rgba(0, 0, 0, 0.6);
  border-radius: 6px;

  min-width: 200px;
  max-width: 300px;
}

/* make cards look clicable */
.card:hover {
  outline: 2px solid #EDBBB4;
}

/* make sure images are a uniform size */
.card img {
  background-color: white;

  
  object-fit: contain; /* properly shrink image to remain visible */ 
  height: 250px;
}


#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}


.hide-links a {
  color: inherit;
  text-decoration: inherit;
}