/* I'm thinking darkmode pastel? */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Header sizes */
h1 {
    color: #ecccdd;
    font-size: 60px;
}
h2 {
    color: #DBABBE;
    font-size: 30px;
}
h3 {
    color: #EDBBB4;
    font-size: 23px;
}

h3,h4 {
    margin-top: 40px;
}

h4 {
    font-weight: bold;
}


p,li,h4 {
    font-size: 20px;
    color:#f3e3f3;
}



.fade-in {
  opacity: 0;
  animation: fade-in 200ms ease-in forwards; 
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}