/* I'm thinking darkmode pastel? */

/* Header sizes */
h1 {
    color: #ecccdd;
    font-size: 60px;
}
h2 {
    color: #DBABBE;
    font-size: 30px;
}
h3 {
    color: #EDBBB4;
    font-size: 23px;
}

h3,h4 {
    margin-top: 40px;
}

h4 {
    font-weight: bold;
}


p,li,h4 {
    font-size: 20px;
    color:#f3e3f3;
}
