/* I'm thinking darkmode pastel? */

/* Header sizes */
h1 {
    color: #EDD2E0;
    font-size: 60px;
}
h2 {
    color: #DBABBE;
    font-size: 30px;
}
h3 {
    color: #EDBBB4;
    font-size: 23px;
}



p {
    font-size: 20px;
}

